# Environments
.venv/
runtime/
env/
venv/

# Python cache
__pycache__/
*.pyc

# Local Model Files (users download these)
modle/*.gguf
modle/*.bin
modle/config.json

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db

# Logs
*.log
